.add-comment {
  margin: 15px 0 20px 0;
}

.add-comment__notification {
  color: red;
}

.add-comment__show-form-button {
  margin-bottom: 10px;
}

.add-comment__submit-button {
  margin-bottom: 15px;
}
