.comment {
  border: 1px solid gray;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment__post-fragment {
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 10px;
  background-color: lightblue;
}
